# Date as an input Argument

In [1]:
import boto3
import pandas as pd
from io import StringIO, BytesIO
from datetime import datetime, timedelta

In [2]:
arg_date = "2021-05-07"

In [3]:
arg_date_dt = datetime.strptime(arg_date, "%Y-%m-%d").date() - timedelta(days = 1)

In [4]:
arg_date_dt

datetime.date(2021, 5, 6)

In [5]:
arg_date_end = datetime.strptime(arg_date, "%Y-%m-%d").date() + timedelta(days = 2)

In [6]:
arg_date_end

datetime.date(2021, 5, 9)

In [7]:
s3 = boto3.resource("s3")
bucket = s3.Bucket("deutsche-boerse-xetra-pds")

In [8]:
# objects = [obj for obj in bucket.objects.all() if datetime.strptime(obj.key.split("/")[0], '%Y-%m-%d').date() >= arg_date_dt]
objects = [obj for obj in bucket.objects.all() if datetime.strptime(obj.key.split("/")[0], '%Y-%m-%d').date() >= arg_date_dt 
           if datetime.strptime(obj.key.split("/")[0], '%Y-%m-%d').date() <= arg_date_end]

In [9]:
#objects = []
#for obj in bucket.objects.all():
   # d = datetime.strptime(obj.key.split("/")[0], '%Y-%m-%d').date()
   # if d >= arg_date_dt and d <= arg_date_end:
     #   objects.append(obj)

In [10]:
objects

[s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-06/2021-05-06_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-05-07/2021-05-07_BINS_XETR23.csv')]

In [11]:
csv_obj_init = bucket.Object(key= objects[0].key).get().get("Body").read().decode("utf-8")
data = StringIO(csv_obj_init)
df_init = pd.read_csv(data, delimiter = ",")

In [12]:
df_init.columns

Index(['ISIN', 'Mnemonic', 'SecurityDesc', 'SecurityType', 'Currency',
       'SecurityID', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice',
       'EndPrice', 'TradedVolume', 'NumberOfTrades'],
      dtype='object')

In [13]:
df_all = pd.DataFrame(columns = df_init.columns)
for obj in objects:
    csv_obj = bucket.Object(key = obj.key).get().get("Body").read().decode("utf-8")
    data = StringIO(csv_obj)
    df = pd.read_csv(data, delimiter = ",")
    df_all = df_all.append(df, ignore_index = True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_7976\1031197490.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)

In [14]:
df_all

,ISIN,Mnemonic,SecurityDesc,SecurityType,Currency,SecurityID,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades
0,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2021-05-06,07:00,21.52,21.9,21.52,21.82,2648,10
1,DE000A0DJ6J9,S92,SMA SOLAR TECHNOL.AG,Common stock,EUR,2504287,2021-05-06,07:00,46.02,46.02,45.82,45.84,1766,10
2,DE000A0D6554,NDX1,NORDEX SE O.N.,Common stock,EUR,2504290,2021-05-06,07:00,21.56,21.78,21.56,21.78,14935,14
3,DE000A0D9PT0,MTX,MTU AERO ENGINES NA O.N.,Common stock,EUR,2504297,2021-05-06,07:00,203.6,203.6,202.5,202.5,1246,9
4,DE000A0HN5C6,DWNI,DEUTSCHE WOHNEN SE INH,Common stock,EUR,2504314,2021-05-06,07:00,44.18,44.21,44.04,44.08,12002,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212153,DE0006062144,1COV,COVESTRO AG O.N.,Common stock,EUR,2505008,2021-05-07,15:43,58.02,58.02,58.02,58.02,51,1
212154,DE000A2TSQH7,KTEK,KATEK SE INH O.N.,Common stock,EUR,6366023,2021-05-07,15:43,26.5,26.5,26.5,26.5,437,1
212155,DE0007236101,SIE,SIEMENS AG NA O.N.,Common stock,EUR,2505088,2021-05-07,15:44,144.28,144.28,144.28,144.28,3969,1
212156,DE000A0TGJ55,VAR1,VARTA AG O.N.,Common stock,EUR,2721826,2021-05-07,15:44,115.75,115.75,115.75,115.75,795,1
212157,DE000A0JK2A8,AR4,AURELIUS EQ.OPP. O.N.,Common stock,EUR,2504340,2021-05-07,15:45,27.72,27.72,27.72,27.72,191,1

In [15]:
columns = ['ISIN', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice', 'EndPrice', 'TradedVolume']
df_all = df_all.loc[:, columns]

In [16]:
df_all

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume
0,AT0000A0E9W5,2021-05-06,07:00,21.52,21.9,21.52,21.82,2648
1,DE000A0DJ6J9,2021-05-06,07:00,46.02,46.02,45.82,45.84,1766
2,DE000A0D6554,2021-05-06,07:00,21.56,21.78,21.56,21.78,14935
3,DE000A0D9PT0,2021-05-06,07:00,203.6,203.6,202.5,202.5,1246
4,DE000A0HN5C6,2021-05-06,07:00,44.18,44.21,44.04,44.08,12002
...,...,...,...,...,...,...,...,...
212153,DE0006062144,2021-05-07,15:43,58.02,58.02,58.02,58.02,51
212154,DE000A2TSQH7,2021-05-07,15:43,26.5,26.5,26.5,26.5,437
212155,DE0007236101,2021-05-07,15:44,144.28,144.28,144.28,144.28,3969
212156,DE000A0TGJ55,2021-05-07,15:44,115.75,115.75,115.75,115.75,795
212157,DE000A0JK2A8,2021-05-07,15:45,27.72,27.72,27.72,27.72,191

In [17]:
df_all.dropna(inplace = True)

In [18]:
df_all.shape

(212158, 8)

## Get opening price per ISIN and Day

In [19]:
df_all["opening_price"] = df_all.sort_values(by=["Time"]).groupby(["ISIN", "Date"])["StartPrice"].transform("first")

In [20]:
df_all[df_all["ISIN"] == "AT0000A0E9W5"]

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,opening_price
0,AT0000A0E9W5,2021-05-06,07:00,21.52,21.9,21.52,21.82,2648,21.52
151,AT0000A0E9W5,2021-05-06,07:01,21.9,21.9,21.78,21.78,373,21.52
273,AT0000A0E9W5,2021-05-06,07:02,21.76,22.04,21.76,22.04,9534,21.52
673,AT0000A0E9W5,2021-05-06,07:04,22.0,22.04,22.0,22.0,8376,21.52
2845,AT0000A0E9W5,2021-05-06,07:05,22.0,22.06,22.0,22.04,2002,21.52
...,...,...,...,...,...,...,...,...,...
207474,AT0000A0E9W5,2021-05-07,15:25,21.16,21.18,21.16,21.18,539,21.7
207740,AT0000A0E9W5,2021-05-07,15:26,21.16,21.16,21.16,21.16,2,21.7
207990,AT0000A0E9W5,2021-05-07,15:27,21.14,21.2,21.14,21.18,1998,21.7
208591,AT0000A0E9W5,2021-05-07,15:29,21.18,21.22,21.16,21.22,1259,21.7
209135,AT0000A0E9W5,2021-05-07,15:35,21.22,21.22,21.22,21.22,35449,21.7

## Get closing price per ISIN and Day

In [21]:
df_all["closing_price"] = df_all.sort_values(by=["Time"]).groupby(["ISIN", "Date"])["StartPrice"].transform("last")

In [22]:
df_all[df_all["ISIN"] == "AT0000A0E9W5"]

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,opening_price,closing_price
0,AT0000A0E9W5,2021-05-06,07:00,21.52,21.9,21.52,21.82,2648,21.52,21.5
151,AT0000A0E9W5,2021-05-06,07:01,21.9,21.9,21.78,21.78,373,21.52,21.5
273,AT0000A0E9W5,2021-05-06,07:02,21.76,22.04,21.76,22.04,9534,21.52,21.5
673,AT0000A0E9W5,2021-05-06,07:04,22.0,22.04,22.0,22.0,8376,21.52,21.5
2845,AT0000A0E9W5,2021-05-06,07:05,22.0,22.06,22.0,22.04,2002,21.52,21.5
...,...,...,...,...,...,...,...,...,...,...
207474,AT0000A0E9W5,2021-05-07,15:25,21.16,21.18,21.16,21.18,539,21.7,21.22
207740,AT0000A0E9W5,2021-05-07,15:26,21.16,21.16,21.16,21.16,2,21.7,21.22
207990,AT0000A0E9W5,2021-05-07,15:27,21.14,21.2,21.14,21.18,1998,21.7,21.22
208591,AT0000A0E9W5,2021-05-07,15:29,21.18,21.22,21.16,21.22,1259,21.7,21.22
209135,AT0000A0E9W5,2021-05-07,15:35,21.22,21.22,21.22,21.22,35449,21.7,21.22

## Aggregation

In [23]:
df_all = df_all.groupby(["ISIN", "Date"], as_index = False).agg(opening_price_eur = ("opening_price", "min"),
                                                                closing_price_eur = ("closing_price", "min"), 
                                                                minimum_price_eur = ("MinPrice", "min"),
                                                                maximum_price_eur = ("MaxPrice", "max"),
                                                                daily_traded_volume = ("TradedVolume", "sum"))

In [24]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume
0,AT00000FACC2,2021-05-06,8.880,8.730,8.730,8.880,943
1,AT00000FACC2,2021-05-07,8.860,9.000,8.840,9.000,547
2,AT0000606306,2021-05-06,18.500,18.300,18.300,18.540,9273
3,AT0000606306,2021-05-07,18.650,18.740,18.600,18.740,1283
4,AT0000609607,2021-05-06,16.340,16.340,16.340,16.340,0
...,...,...,...,...,...,...,...
5965,XS2265369731,2021-05-07,10.378,10.344,10.344,10.439,0
5966,XS2265370234,2021-05-06,24.892,24.446,24.222,24.892,1250
5967,XS2265370234,2021-05-07,24.606,24.108,23.766,24.606,1848
5968,XS2284324667,2021-05-06,26.744,26.686,26.586,26.744,2721
5969,XS2284324667,2021-05-07,26.680,26.658,26.430,26.680,5211

## Percent Change Prev Closing

In [25]:
df_all["prev_closing_price"] = df_all.sort_values(by = ["Date"]).groupby(["ISIN"])["closing_price_eur"].shift(1)

In [26]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,prev_closing_price
0,AT00000FACC2,2021-05-06,8.880,8.730,8.730,8.880,943,NaN
1,AT00000FACC2,2021-05-07,8.860,9.000,8.840,9.000,547,8.730
2,AT0000606306,2021-05-06,18.500,18.300,18.300,18.540,9273,NaN
3,AT0000606306,2021-05-07,18.650,18.740,18.600,18.740,1283,18.300
4,AT0000609607,2021-05-06,16.340,16.340,16.340,16.340,0,NaN
...,...,...,...,...,...,...,...,...
5965,XS2265369731,2021-05-07,10.378,10.344,10.344,10.439,0,10.412
5966,XS2265370234,2021-05-06,24.892,24.446,24.222,24.892,1250,NaN
5967,XS2265370234,2021-05-07,24.606,24.108,23.766,24.606,1848,24.446
5968,XS2284324667,2021-05-06,26.744,26.686,26.586,26.744,2721,NaN
5969,XS2284324667,2021-05-07,26.680,26.658,26.430,26.680,5211,26.686

In [27]:
df_all["change_prev_closing_%"] = (df_all["closing_price_eur"] - df_all["prev_closing_price"]) / df_all["prev_closing_price"] * 100

In [28]:
df_all.drop(columns = ["prev_closing_price"], inplace = True)

In [29]:
df_all = df_all.round(2)

In [30]:
df_all = df_all[df_all.Date >= arg_date]

In [31]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,change_prev_closing_%
1,AT00000FACC2,2021-05-07,8.86,9.00,8.84,9.00,547,3.09
3,AT0000606306,2021-05-07,18.65,18.74,18.60,18.74,1283,2.40
5,AT0000609607,2021-05-07,16.42,16.62,16.42,16.70,95,1.71
7,AT0000644505,2021-05-07,114.40,111.60,111.00,114.40,928,-2.45
9,AT0000652011,2021-05-07,30.93,31.23,30.70,31.23,4463,0.35
...,...,...,...,...,...,...,...,...
5961,XS2265368097,2021-05-07,15.10,15.10,15.08,15.10,0,-0.44
5963,XS2265369574,2021-05-07,22.68,22.57,22.57,22.68,22,-1.03
5965,XS2265369731,2021-05-07,10.38,10.34,10.34,10.44,0,-0.65
5967,XS2265370234,2021-05-07,24.61,24.11,23.77,24.61,1848,-1.38
5969,XS2284324667,2021-05-07,26.68,26.66,26.43,26.68,5211,-0.10

## Write to S3

In [33]:
key = "xetra_daily_report" + datetime.today().strftime("%Y%m%d_%H%M%S") + ".parquet"

In [34]:
out_buffer = BytesIO()
df_all.to_parquet(out_buffer, index = False)
bucket_target = s3.Bucket("xetra--1234")
bucket_target.put_object(Body = out_buffer.getvalue(), Key = key)

s3.Object(bucket_name='xetra--1234', key='xetra_daily_report20220209_205648.parquet')

## Read the uploaded file

In [35]:
for obj in bucket_target.objects.all():
    print(obj.key)

xetra_daily_report20220209_205648.parquet

In [38]:
prq_obj = bucket_target.Object(key = "xetra_daily_report20220209_205648.parquet").get().get("Body").read()
data = BytesIO(prq_obj)
df_report = pd.read_parquet(data)

In [39]:
df_report

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,change_prev_closing_%
0,AT00000FACC2,2021-05-07,8.86,9.00,8.84,9.00,547,3.09
1,AT0000606306,2021-05-07,18.65,18.74,18.60,18.74,1283,2.40
2,AT0000609607,2021-05-07,16.42,16.62,16.42,16.70,95,1.71
3,AT0000644505,2021-05-07,114.40,111.60,111.00,114.40,928,-2.45
4,AT0000652011,2021-05-07,30.93,31.23,30.70,31.23,4463,0.35
...,...,...,...,...,...,...,...,...
2986,XS2265368097,2021-05-07,15.10,15.10,15.08,15.10,0,-0.44
2987,XS2265369574,2021-05-07,22.68,22.57,22.57,22.68,22,-1.03
2988,XS2265369731,2021-05-07,10.38,10.34,10.34,10.44,0,-0.65
2989,XS2265370234,2021-05-07,24.61,24.11,23.77,24.61,1848,-1.38
2990,XS2284324667,2021-05-07,26.68,26.66,26.43,26.68,5211,-0.10